DOCTYPE 
html
	head
		meta(charset="utf-8")
		meta(name="", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		title AWWWARDS
		link(href="css/font-awesome.min.css", rel="stylesheet")
		link(href="css/animate.css", rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="shortcut icon", href="images/ico/favicon.ico")
		link(rel="apple-touch-icon-precomposed", sizes="144x144", href="images/ico/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="114x114", href="images/ico/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="72x72", href="images/ico/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed", href="images/ico/apple-touch-icon-57-precomposed.png")
		link(type="text/css", rel="stylesheet", href="css/materialize.min.css", media="screen,projection")
		link(rel="stylesheet", href="js/main.js")
	body
		header 
			div.navbar-fixed
				nav
					div.nav-wrapper
						ul.hide-on-med-and-down
							li
								a(href="#", data-activates="mobile-demo").button-collapse Menu
							li
								div.input-field
									i.material-icons.black-text search 
									label(for="search")
										input#search(type="search", placeholder=" Enter your Email")
							li
								a(href="#Awwwards").black-text    
									img(src="images/logo.png", alt="logo").logo.responsive-img
							li 
								span.center-align ARE YOU MEMBER? 
								a.center-align(href="!#") REGISTER / LOG IN	
							li
								a(href="#Submint").black-text.button.button-large SUBMIT YOUR SITE!		
						ul.side-nav#mobile-demo  
							li
								a(href="#Home").waves-effect Home
							li
								a(href="#Winners").waves-effect Winners
							li
								a(href="#Nominess").waves-effect Nominess
							li
								a(href="#Collections").waves-effect Colletions   
							li
								a(href="#Professional").waves-effect Profesional 
							li
								a(href="#Jobs").waves-effect Jobs
							li
								a(href="#Magazine").waves-effect Magazine
							li
								a(href="#About us").waves-effect About Us                                                           
		section.img-fondo
			div.container.center-align
				div.row
					div.col.s7.m7.l6
						p.white-text Site of the Day Dec 18,2016
					div.col.s1.m1.l1
						img.circle(src="images/boy_Razib Biswas.jpeg", alt="Razib Biswas")
					div.col.s1.m1.l1
						img.circle(src="images/Awwwards_Team.jpg", alt="Awwwards_Team")
					div.col.s1.m1.l1
						img.circle(src="images/by_association_only.jpeg", alt="by_association_only")
					div.col.s1.m1.l1
						img.circle.img_circulo(src="images/afterglow.png", alt="afterglow")
					div.col.s1.m1.l1
						a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
							i.material-icons add
					div.row
						div.col.s12.m12.l12
							h3.white-text STUDIO DETAILS Inc.
							p.white-text BY STUDIO DETAILS INC FROM JAPAN WHITH 7.15
							div.row
								div.col.s6.m3.l3
									div.preloader-wrapper.big.active
										div.spinner-layer.spinner-red-only
											div.circle-clipper.left
												div.circle
											div.gap-patch
												div.circle
											div.circle-clipper.right
												div.circle
									p.white-text 7.43
									p.white-text DESIGN
								div.col.s6.m3.l3
									div.preloader-wrapper.big.active
										div.spinner-layer.spinner-yellow-only
											div.circle-clipper.left
												div.circle
											div.gap-patch
												div.circle
											div.circle-clipper.right
												div.circle
									p.white-text 7.04
									p.white-text USABILITY
								div.col.s6.m3.l3
									div.preloader-wrapper.big.active
										div.spinner-layer.spinner-green-only
											div.circle-clipper.left
												div.circle
											div.gap-patch
												div.circle
											div.circle-clipper.right
												div.circle
									p.white-text 6.69
									p.white-text CREATIVITY
								div.col.s6.m3.l3
									div.preloader-wrapper.big.active
										div.spinner-layer.spinner-blue-only
											div.circle-clipper.left
												div.circle
											div.gap-patch
												div.circle
											div.circle-clipper.right
												div.circle
									p.white-text 7.88
									p.white-text CONTENT
					div.row
						div.col.s12.m12.l12.left-align.my_btn
							a.boton(href="http://standardfilms.tv/", target="_blank") Visit Website
		section
			div.container
				div.row
					div.col.s12.m12.l12
						h5 Standard Films - a commercial / digital / music video production company
				div.row
					div.col.s12.m12.l12
						a(href="http://standardfilms.tv/", target="_blank") Film & TV
						a(href="http://standardfilms.tv/", target="_blank") Animation
						a(href="http://standardfilms.tv/", target="_blank") Wordpress
						a(href="http://standardfilms.tv/", target="_blank") Design
						a(href="http://standardfilms.tv/", target="_blank") Video
						a.item.item-color.black(href="http://standardfilms.tv/", target="_blank") 
		section
			div.container
				div.row
					div.col.s12.m12.l12
						div.img-bailarines
				div.row
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/outcast.jpg", alt="outcast")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/Awwwards_Team.jpg", alt="Awwwards_Team")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add	
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/ActiveTheory.jpg", alt="ActiveTheoryWinsSOTMNovember")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/afterglow.png", alt="afterglow")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
										
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/outcast.jpg", alt="outcast")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/afterglow.png", alt="afterglow")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
				div.row
					.col.s12.m12-l12.center-align
						a(href="") Load More
		section
			div.container
				div.row
					div.col.s12.m12.l12
						div.img-osonegro
				div.row
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/outcast.jpg", alt="outcast")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/Awwwards_Team.jpg", alt="Awwwards_Team")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add		
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/ActiveTheory.jpg", alt="ActiveTheoryWinsSOTMNovember")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/afterglow.png", alt="afterglow")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
										
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/outcast.jpg", alt="outcast")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/afterglow.png", alt="afterglow")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add	
				div.row
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/outcast.jpg", alt="outcast")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/Awwwards_Team.jpg", alt="Awwwards_Team")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
								//- 			
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/ActiveTheory.jpg", alt="ActiveTheoryWinsSOTMNovember")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/afterglow.png", alt="afterglow")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
										
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/outcast.jpg", alt="outcast")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/afterglow.png", alt="afterglow")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
				div.row
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/outcast.jpg", alt="outcast")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/Awwwards_Team.jpg", alt="Awwwards_Team")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
								//- 			
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/ActiveTheory.jpg", alt="ActiveTheoryWinsSOTMNovember")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/afterglow.png", alt="afterglow")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
										
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/outcast.jpg", alt="outcast")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/afterglow.png", alt="afterglow")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
				div.row
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/outcast.jpg", alt="outcast")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/Awwwards_Team.jpg", alt="Awwwards_Team")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
								//- 			
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/ActiveTheory.jpg", alt="ActiveTheoryWinsSOTMNovember")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/afterglow.png", alt="afterglow")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
										
					div.col.s4.m4.l4
						div.card
							div.card-image.waves-effect.waves-block.waves-light
								img.activator(src="images/outcast.jpg", alt="outcast")
							div.card-content
								span.card-title.activator.grey-text.text-darken-4 Direction Changing Navigation
								span.card-title.activator.grey-text.text-darken-4 Design by Anonymous
								span.card-title.activator.grey-text.text-darken-4 In The Best of Navigation
								div
									img.circle.responsive-img(src="images/afterglow.png", alt="afterglow")
									a.btn-floating.btn-large.waves-effect.waves-light.red.btn.tooltipped(data-position="bottom", data-delay="50", data-tooltip="I am tooltip")
										i.material-icons add
				div.row
					.col.s12.m12-l12.center-align
						a(href="!#") Load More
		section
			div.container
				div.row
					div.col.s6.m6.l6.contacts
						p The awards for design, creativity and innovation on the Internet
						span.contacts
							a(href="!#") Directory 
						span.contacts
							a(href="!#") Jobs
						span.contacts
							a(href="!#") Contact Us
						span.contacts
							a(href="!#") Cookies Policy
						span.contacts
							a(href="!#") Legal Terms
					div.col.s6.m6.l6
						p Follow for Inspiration on 
							a(href="!#") Twitter 
							span and 
								a(href="!#") Facebook


		script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
		//- script(src="js/jquery.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css")
		//- script(type="text/javascript" src="js/materialize.min.js")
		script(src="js/main.js")

		